<!DOCTYPE html>
<html>
<head>

  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>


  <h1 style="text-align: center; margin-bottom: 50px;">Welcome to the library! <i class="fa fa-tasks"></i></h1>


    <a href="/book"><button class="btn btn-success">Add or view books!</a>

    <!-- Search book -->

    <a href="/patron"><button class="btn btn-success">Patrons information</a>





</body>
</html>
